body {
    background-color: grey;
}

.container {
    background-color: black;
    width: 900px;
    height: 900px;
    display: flex;
    flex-wrap: wrap;
}

.sq {
    background-color: white;
    height: 50px;
    width: 50px;
    border: 1px solid black;
    box-sizing: border-box;
}

.red {
    background-color: red;
}