body {
    background-color: grey;
}

.container {
    background-color: black;
    max-width: fit-content;
    height: 832px;
}

.sq {
    width: 50px;
    height: 50px;
    background-color: white;
    margin: 1px;
    float: left;
}

.clear {
    clear: both;
}

.red {
    background-color: red;
}